/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
   --primary-font:"Open", sans-serif;
   --secundary-font:"Bitcount Grid Single", system-ui;

}