/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* global style */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

:root {
    --primary-font: "Open", sans-serif;
    --secundary-font: "Bitcount Grid Single", system-ui;
    --primary-color: #FFFFFF;
    --secondary-color: #4285b8;
    --tertiary-color: #DB1000;
    --quaternary-color: #000000;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background: var(--primary-color);
    color: var(--quaternary-color);
    padding: 10px;
    min-height: 100vh;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--secondary-color);
    text-align: center;
    width: 100%;
}
/* Header Section */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    height: fit-content;
    outline: var(--secondary-color) 2px solid;
    width: 100%;
    padding: 10px;
}

/* Logo */
.logo {
    width: 130px;
}

/* Nav section */
#barr {
    display: grid;
    width: 30px;
    margin-left: auto;
    cursor: pointer;
}

/* hidden by default */
.nav-menu {
    display: none;
}
/* nav links*/
nav>ul {
    display: grid;
    gap: 10px;
    list-style: none;
    justify-items: start;
}

a {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--tertiary-color);
}